
Ciclo 1 - Python/Prueba.py
Ciclo 1 - Python/Semana 01/01.01.01 - Breve Introducción a la Ingeniería de Software.pdf
Ciclo 1 - Python/Semana 01/01.01.02 - Guide to the Software Engineering Body of Knowledge 3.0.pdf
Ciclo 1 - Python/Semana 01/01.02.01 - Tipos de requisitos.pdf
Ciclo 1 - Python/Semana 01/01.02.02 - Pressman - Software Engineering A Practitioner's Approach 8th c2015.pdf
Ciclo 1 - Python/Semana 01/01.03.01 - Etapas del ciclo de vida.pdf
Ciclo 1 - Python/Semana 01/01.04.01 - Modelos de ciclo de vida.pdf
Ciclo 1 - Python/Semana 01/02.01.01 - Ingeniería de Requisitos.pdf
Ciclo 1 - Python/Semana 01/02.02.01 - NORMA ISO 9001 2015.pdf
Ciclo 1 - Python/Semana 01/02.03.01 - Actividades en la ingeniería de requisitos.pdf
Ciclo 1 - Python/Semana 01/02.04.01 - Historias de usuario y lenguaje natural.pdf
Ciclo 1 - Python/Semana 01/8100771-ISO12207-2017.pdf
Ciclo 1 - Python/Semana 01/original_waterfall_paper_winston_royce.pdf
Ciclo 1 - Python/Semana 01/Semana 1 - Ciclo de vida_.pdf
Ciclo 1 - Python/Semana 01/Semana 1 - Introducción_.pdf
Ciclo 1 - Python/Semana 01/software_requirements_are_they_really_a_problem.pdf
Ciclo 1 - Python/Semana 01/swebok-v3.pdf
Ciclo 1 - Python/Semana 02/01.01.01 - Entrada y salida de datos.pdf
Ciclo 1 - Python/Semana 02/01.01.02 - PythonNotesForProfessionals.pdf
Ciclo 1 - Python/Semana 02/01.02.01 - Conversión de una expresión algebraica.pdf
Ciclo 1 - Python/Semana 02/01.02.02 - Operaciones con datos.pdf
Ciclo 1 - Python/Semana 02/01.03.01 - Sentencias condicionales.pdf
Ciclo 1 - Python/Semana 02/01.04.01 - Estructuras cíclicas.pdf
Ciclo 1 - Python/Semana 03/01.01.01 - Listas.pdf
Ciclo 1 - Python/Semana 03/01.01.02 - PythonNotesForProfessionals.pdf
Ciclo 1 - Python/Semana 03/01.02.01 - Tuplas y Sets.pdf
Ciclo 1 - Python/Semana 03/01.03.01 - Diccionarios.pdf
Ciclo 1 - Python/Semana 03/Clase 20220430.py
Ciclo 1 - Python/Semana 04/01.01.01 - Numpy.pdf
Ciclo 1 - Python/Semana 04/01.01.02 - Matplotlib.pdf
Ciclo 1 - Python/Semana 04/01.01.03 - Pandas.pdf
Ciclo 1 - Python/Semana 04/01.01.04 - Sklearn.pdf
Ciclo 1 - Python/Semana 04/01.01.05 - Introducción al uso de librerías.pdf
Ciclo 1 - Python/Semana 04/01.01.06 - PythonNotesForProfessionals.pdf
Ciclo 1 - Python/Semana 04/Clase 20220510.py
Ciclo 1 - Python/Semana 04/Clase 20220512.py
Ciclo 1 - Python/Semana 04/Clase 20220514.py
Ciclo 1 - Python/Semana 05/01.01.01 - Funciones.pdf
Ciclo 1 - Python/Semana 05/01.01.02 - Paquetes y funciones.pdf
Ciclo 1 - Python/Semana 05/atleta.csv
Ciclo 1 - Python/Semana 05/Clase 20220517.py
Ciclo 1 - Python/Semana 05/twitter.csv
Ciclo 1 - Python/Semana 05/twitter.xlsx
Ciclo 1 - Python/Semana 06/01.01.01 - PythonNotesForProfessionals.pdf
Ciclo 1 - Python/Semana 06/01.02.01 - JSON.pdf
Ciclo 1 - Python/Semana 06/01.02.02 - python-guide.pdf
Ciclo 1 - Python/Semana 06/01.02.03 - the hitchhikers guide to python kenneth reitz.pdf
Ciclo 1 - Python/Semana 06/01.03.01 - CSV.pdf
Ciclo 1 - Python/Semana 06/Abrirarchivo.py
Ciclo 1 - Python/Semana 06/ARchivo.json
Ciclo 1 - Python/Semana 06/Archivoprueba.txt
Ciclo 1 - Python/Semana 06/Archivoprueba2.txt
Ciclo 1 - Python/Semana 06/Clase 20220528.py
Ciclo 1 - Python/Semana 07/01.01.01 - Manejo de exepeciones.pdf
Ciclo 1 - Python/Semana 07/01.01.02 - PythonNotesForProfessionals.pdf
Ciclo 1 - Python/Semana 07/01.02.01 - Pruebas unitarias.pdf
Ciclo 1 - Python/Semana 07/01.02.02 - python-guide.pdf
Ciclo 1 - Python/Semana 07/__pycache__/test_Clase 20220602.cpython-310-pytest-7.1.2.pyc
Ciclo 1 - Python/Semana 07/archivo de prueba.txt
Ciclo 1 - Python/Semana 07/Clase 20220531.py
Ciclo 1 - Python/Semana 07/Clase 20220604.py
Ciclo 1 - Python/Semana 07/pytest.pdf
Ciclo 1 - Python/Semana 07/test_Clase 20220602.py
Ciclo 2 - Java/DatosPorTeclado.java
Ciclo 2 - Java/EjemploDeCiclos.java
Ciclo 2 - Java/EjemploDeFunciones.java
Ciclo 2 - Java/EjemploDeIf.java
Ciclo 2 - Java/HolaMundo.java
Ciclo 2 - Java/Semana 1/01.02.01 - Lectura 2. ¡Hola Mundo\! en Java.pdf
Ciclo 2 - Java/Semana 1/01.03.01 - Lectura 3. Las Variables y otros Elementos.pdf
Ciclo 2 - Java/Semana 1/01.04.01 - Lectura 4. Las cadenas de caracteres (String) en Java.pdf
Ciclo 2 - Java/Semana 1/01.08.01 - Java Como Programar - Deitel & Deitel - 10ma Edicion.pdf
Ciclo 2 - Java/Semana 1/01.08.02 - Fundamentos de programacion en Java.pdf
Ciclo 2 - Java/Semana 1/01.08.03 - Java a fondo - Pablo - Sznajdleder.pdf
Ciclo 2 - Java/Semana 1/01.08.04 - Desarrollando con Java 8 Poker.pdf
Ciclo 2 - Java/Semana 1/01.09.01 - Lectura 5. Sentencias de Control de Flujo.pdf
Ciclo 2 - Java/Semana 1/01.10.01 - Lectura 6. Arrays (Arreglos) en Java.pdf
Ciclo 2 - Java/Semana 2/01.01.01 - Lectura 1. Introducción a la Programación Orientada a Objetos.pdf
Ciclo 2 - Java/Semana 2/02.01.01 - Lectura 2. Fundamentos de la Programación Orientada a Objetos en Java.pdf
Ciclo 2 - Java/Semana 2/03.01.01 - Lectura 3. Diagramas de Clases UML.pdf
Ciclo 2 - Java/Semana 2/03.05.01 - Especificación UML 2.5.1 (2017).pdf
Ciclo 2 - Java/Semana 2/03.05.02 - Aprendiendo UML en 24 horas - Joseph Schmuller.pdf
Ciclo 2 - Java/Semana 3/01.01.01 - Lectura 1. Herencia en Java.pdf
Ciclo 2 - Java/Semana 3/01.02.01 - Lectura 2. Interfaces y Clases Abstractas.pdf
Ciclo 2 - Java/Semana 3/02.01.01 - Lectura 3. La clase ArrayList.pdf
Ciclo 2 - Java/Semana 3/02.02.01 - Lectura 4. Polimorfismo.pdf
Ciclo 2 - Java/Semana 3/Colecciones/1.jpg
Ciclo 2 - Java/Semana 3/Colecciones/2.jpg
Ciclo 2 - Java/Semana 3/Colecciones/3.jpg
Ciclo 2 - Java/Semana 3/Colecciones/4.jpg
Ciclo 2 - Java/Semana 3/Colecciones/5.jpg
Ciclo 2 - Java/Semana 3/Colecciones/6.jpg
Ciclo 2 - Java/Semana 3/Colecciones/7.jpg
Ciclo 2 - Java/Semana 3/Colecciones/8.jpg
Ciclo 2 - Java/Semana 4/01.01.01 - Lectura1. Introducción a las Interfaces Gráficas con Swing.pdf
Ciclo 2 - Java/Semana 4/01.03.01 - Introduccion a Swing.pdf
Ciclo 2 - Java/Semana 4/01.04.01 - Interfaces graficas de usuario con java.pdf
Ciclo 2 - Java/Semana 5/01.01.01 - Lectura 1. Introducción a las Pruebas Unitarias.pdf
Ciclo 2 - Java/Semana 5/01.02.01 - Lectura 2. Automatización de Pruebas Unitarias Usando JUnit.pdf
Ciclo 2 - Java/Semana 5/02.01.01 - Lectura 3. Persistencia usando Bases de Datos.pdf
Ciclo 2 - Java/Semana 6/01.01.01 - Lectura 1. Diseño Básico de Bases de Datos Relacionales.pdf
Ciclo 2 - Java/Semana 6/02.01.01 - Lectura 2. Introducción a MySQL.pdf
Ciclo 2 - Java/Semana 6/02.05.01 - MySQL 5.0 Reference Manual.pdf
Ciclo 2 - Java/Semana 6/Clase20220716.sql
Ciclo 2 - Java/Semana 6/Clase20220719.sql
Ciclo 2 - Java/Semana 6/Clase20220721.sql
Ciclo 2 - Java/Semana 6/Clase20220723.sql
Ciclo 2 - Java/Semana 6/ejemploC2S6L1.sql
Ciclo 2 - Java/Semana 7/01.01.01 - Lectura 1. Introducción a JDBC.pdf
Ciclo 2 - Java/Semana 7/01.02.01 - Lectura 2. Introducción a Hibernate.pdf
Ciclo 2 - Java/SumarDosNumeros.java
Ciclo 2 - Java/TiposDeDatos.java
Ciclo 2 - Java/UnirDosTextos.java
Ciclo_3_Web/Clases/Clase20220813AplicacionUnoRepositorio/.idea/misc.xml
Ciclo_3_Web/Clases/Clase20220813AplicacionUnoRepositorio/.idea/modules.xml
Ciclo_3_Web/Clases/Clase20220813AplicacionUnoRepositorio/.idea/vcs.xml
Ciclo_3_Web/Clases/Clase20220813AplicacionUnoRepositorio/.idea/workspace.xml
Ciclo_3_Web/Clases/Clase20220813AplicacionUnoRepositorio/Clase20220813AplicacionUnoRepositorio.iml
Ciclo_3_Web/Clases/Clase20220813AplicacionUnoRepositorio/src/Main.java
Ciclo_3_Web/Clases/Clase20220813AplicacionUnoRepositorio/src/NuevaClase.java
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/.idea/misc.xml
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/.idea/modules.xml
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/.idea/vcs.xml
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/.idea/workspace.xml
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/Clase20220820POOInterfaces.iml
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/src/Automovil.java
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/src/Main.java
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/src/Vehiculo.java
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/src/VehiculoTerrestre.java
Ciclo_3_Web/Clases/Clase20220820RepasoPOO/.idea/misc.xml
Ciclo_3_Web/Clases/Clase20220820RepasoPOO/.idea/modules.xml
Ciclo_3_Web/Clases/Clase20220820RepasoPOO/.idea/vcs.xml
Ciclo_3_Web/Clases/Clase20220820RepasoPOO/.idea/workspace.xml
Ciclo_3_Web/Clases/Clase20220820RepasoPOO/Clase20220820RepasoPOO.iml
Ciclo_3_Web/Clases/Clase20220820RepasoPOO/out/production/Clase20220820RepasoPOO/Admin.class
Ciclo_3_Web/Clases/Clase20220820RepasoPOO/out/production/Clase20220820RepasoPOO/Main.class
Ciclo_3_Web/Clases/Clase20220820RepasoPOO/out/production/Clase20220820RepasoPOO/Perro.class
Ciclo_3_Web/Clases/Clase20220820RepasoPOO/src/Admin.java
Ciclo_3_Web/Clases/Clase20220820RepasoPOO/src/Main.java
Ciclo_3_Web/Clases/Clase20220820RepasoPOO/src/Perro.java
Ciclo_3_Web/Proyecto_Ciclo_3/C3 - Logística de evaluación.pdf
Ciclo_3_Web/Semana_01/01.01.01 - Lectura. Metodología Scrum.pdf
Ciclo_3_Web/Semana_01/01.01.02 - Scrum Guide.pdf
Ciclo_3_Web/Semana_01/SCRUM.pptx
Libros Generales/AlgorithmsNotesForProfessionals.pdf
Libros Generales/Algoritmos_a_fondo_Con_implementaciones (1).pdf
Libros Generales/Algoritmos_a_fondo_Con_implementaciones.pdf
Libros Generales/AndroidNotesForProfessionals.pdf
Libros Generales/Angular2NotesForProfessionals.pdf
Libros Generales/AngularJSNotesForProfessionals.pdf
Libros Generales/BashNotesForProfessionals.pdf
Libros Generales/CNotesForProfessionals.pdf
Libros Generales/CPlusPlusNotesForProfessionals.pdf
Libros Generales/CSharpNotesForProfessionals.pdf
Libros Generales/CSSNotesForProfessionals.pdf
Libros Generales/DotNETFrameworkNotesForProfessionals.pdf
Libros Generales/EntityFrameworkNotesForProfessionals.pdf
Libros Generales/ExcelVBANotesForProfessionals.pdf
Libros Generales/GitNotesForProfessionals.pdf
Libros Generales/HaskellNotesForProfessionals.pdf
Libros Generales/HibernateNotesForProfessionals.pdf
Libros Generales/HTML5CanvasNotesForProfessionals.pdf
Libros Generales/HTML5NotesForProfessionals.pdf
Libros Generales/iOSNotesForProfessionals.pdf
Libros Generales/Java_a_fondo_Sznajdleder_Pablo.pdf
Libros Generales/JavaEENotesForProfessionals.pdf
Libros Generales/JavaNotesForProfessionals.pdf
Libros Generales/JavaScriptNotesForProfessionals.pdf
Libros Generales/jQueryNotesForProfessionals.pdf
Libros Generales/KotlinNotesForProfessionals.pdf
Libros Generales/LaTeXNotesForProfessionals.pdf
Libros Generales/LinuxNotesForProfessionals.pdf
Libros Generales/Material_de_apoyo_Curso_JAVA_2004_proyec.pdf
Libros Generales/MATLABNotesForProfessionals.pdf
Libros Generales/MicrosoftSQLServerNotesForProfessionals.pdf
Libros Generales/MongoDBNotesForProfessionals.pdf
Libros Generales/MySQLNotesForProfessionals.pdf
Libros Generales/NodeJSNotesForProfessionals.pdf
Libros Generales/ObjectiveCNotesForProfessionals.pdf
Libros Generales/OracleDatabaseNotesForProfessionals.pdf
Libros Generales/ebook-DS-24_alura-latam-alumno-092021.pdf
Libros Generales/PerlNotesForProfessionals.pdf
Libros Generales/PHPNotesForProfessionals.pdf
Libros Generales/PostgreSQLNotesForProfessionals.pdf
Libros Generales/PowerShellNotesForProfessionals.pdf
Libros Generales/PythonNotesForProfessionals.pdf
Libros Generales/ReactJSNotesForProfessionals.pdf
Libros Generales/ReactNativeNotesForProfessionals.pdf
Libros Generales/RNotesForProfessionals.pdf
Libros Generales/RubyNotesForProfessionals.pdf
Libros Generales/RubyOnRailsNotesForProfessionals.pdf
Libros Generales/SpringFrameworkNotesForProfessionals.pdf
Libros Generales/SQLNotesForProfessionals.pdf
Libros Generales/SwiftNotesForProfessionals.pdf
Libros Generales/TypeScriptNotesForProfessionals.pdf
Libros Generales/VBANotesForProfessionals.pdf
Libros Generales/VisualBasic_NETNotesForProfessionals.pdf
Libros Generales/XamarinFormsNotesForProfessionals.pdf
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/.idea/uiDesigner.xml
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/out/production/Clase20220820POOInterfaces/Automovil.class
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/out/production/Clase20220820POOInterfaces/Avion.class
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/out/production/Clase20220820POOInterfaces/IAvion.class
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/out/production/Clase20220820POOInterfaces/IVehiculoTerrestre.class
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/out/production/Clase20220820POOInterfaces/Main.class
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/out/production/Clase20220820POOInterfaces/Vehiculo.class
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/src/Avion.java
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/src/IAvion.java
Ciclo_3_Web/Clases/Clase20220820POOInterfaces/src/IVehiculoTerrestre.java
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/.idea/compiler.xml
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/.idea/encodings.xml
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/.idea/jarRepositories.xml
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/.idea/misc.xml
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/.idea/vcs.xml
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/.idea/workspace.xml
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/.mvn/wrapper/maven-wrapper.jar
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/.mvn/wrapper/maven-wrapper.properties
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/HELP.md
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/mvnw
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/mvnw.cmd
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/pom.xml
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/src/main/java/com/example/Clase20220825Proyecto01SpringBoot/Clase20220825Proyecto01SpringBootApplication.java
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/src/main/resources/application.properties
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/src/test/java/com/example/Clase20220825Proyecto01SpringBoot/Clase20220825Proyecto01SpringBootApplicationTests.java
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/target/classes/application.properties
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/target/classes/com/example/Clase20220825Proyecto01SpringBoot/Clase20220825Proyecto01SpringBootApplication.class
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/src/main/java/com/example/Clase20220825Proyecto01SpringBoot/EjemploUno.java
Ciclo_3_Web/Clases/Clase20220825Proyecto01SpringBoot/target/classes/com/example/Clase20220825Proyecto01SpringBoot/EjemploUno.class
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa.sql
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/.idea/compiler.xml
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/.idea/encodings.xml
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/.idea/jarRepositories.xml
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/.idea/misc.xml
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/.idea/vcs.xml
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/.idea/workspace.xml
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/.mvn/wrapper/maven-wrapper.jar
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/.mvn/wrapper/maven-wrapper.properties
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/HELP.md
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/mvnw
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/mvnw.cmd
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/pom.xml
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/java/com/example/Clase20220827ProyectoCooperativa/Clase20220827ProyectoCooperativaApplication.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/application.properties
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/test/java/com/example/Clase20220827ProyectoCooperativa/Clase20220827ProyectoCooperativaApplicationTests.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/application.properties
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/com/example/Clase20220827ProyectoCooperativa/Clase20220827ProyectoCooperativaApplication.class
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/java/com/example/Clase20220827ProyectoCooperativa/entidades/Cliente.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/java/com/example/Clase20220827ProyectoCooperativa/entidades/Creditos.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/java/com/example/Clase20220827ProyectoCooperativa/entidades/LineasDeCredito.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/java/com/example/Clase20220827ProyectoCooperativa/repositorio/RepositorioCliente.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/java/com/example/Clase20220827ProyectoCooperativa/servicios/ServicioCliente.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/java/com/example/Clase20220827ProyectoCooperativa/servicios/ServicioImpCliente.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/com/example/Clase20220827ProyectoCooperativa/entidades/Cliente.class
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/com/example/Clase20220827ProyectoCooperativa/entidades/Creditos.class
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/com/example/Clase20220827ProyectoCooperativa/entidades/LineasDeCredito.class
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/java/com/example/Clase20220827ProyectoCooperativa/controlador/ControladorCliente.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/com/example/Clase20220827ProyectoCooperativa/controlador/ControladorCliente.class
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/com/example/Clase20220827ProyectoCooperativa/repositorio/RepositorioCliente.class
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/com/example/Clase20220827ProyectoCooperativa/servicios/ServicioCliente.class
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/com/example/Clase20220827ProyectoCooperativa/servicios/ServicioImpCliente.class
Ciclo 1 - Python/Direktio/Direktio.py
Ciclo 1 - Python/Direktio/m_persona.csv
Ciclo 1 - Python/Direktio/p_rangos.xlsx
Ciclo 1 - Python/Direktio/Prueba tecnica de datos.docx
Ciclo 1 - Python/Direktio/registros.csv
Ciclo 1 - Python/Direktio/t_antropometricos.csv
Ciclo 1 - Python/Direktio/t_laboratorios.csv
Ciclo_3_Web/Semana_04/Css/Reset.css
Ciclo_3_Web/Semana_04/Css/Styles.css
Ciclo_3_Web/Semana_04/Fonts/MsMadi-Regular.ttf
Ciclo_3_Web/Semana_04/Fonts/OFL.txt
Ciclo_3_Web/Semana_04/Imagenes/offer_discount_sales_proc_icon_228008.png
Ciclo_3_Web/Semana_04/Imagenes/workplace-gbbc2af86f_1920.jpg
Ciclo_3_Web/Semana_04/index.html
Ciclo_3_Web/Semana_04/Css/stylesfrm.css
Ciclo_3_Web/Semana_04/frmcliente.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/java/com/example/Clase20220827ProyectoCooperativa/controlador/FrontController.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/static/Css/Reset.css
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/static/Css/Styles.css
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/static/Css/stylesfrm.css
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/static/Css/stylestabla.css
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/static/Fonts/MsMadi-Regular.ttf
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/static/Css/stylestabla.css
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/static/Fonts/OFL.txt
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/static/Imagenes/offer_discount_sales_proc_icon_228008.png
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/static/Imagenes/workplace-gbbc2af86f_1920.jpg
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/templates/frmcliente.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/templates/index.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/static/Css/stylestabla.css
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/templates/tabla.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/com/example/Clase20220827ProyectoCooperativa/controlador/FrontController.class
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/static/Css/Reset.css
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/static/Css/Styles.css
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/static/Css/stylesfrm.css
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/static/Css/stylestabla.css
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/static/Fonts/MsMadi-Regular.ttf
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/static/Fonts/OFL.txt
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/static/Imagenes/workplace-gbbc2af86f_1920.jpg
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/templates/frmcliente.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/templates/index.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/templates/tabla.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/static/Imagenes/offer_discount_sales_proc_icon_228008.png
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/templates/tabla.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/static/Css/stylestabla.css
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/static/Css/stylestabla.css
Ciclo 1 - Python/Direktio.rar
Ciclo 1 - Python/Direktio/DirektioPunto1Registros.csv
Ciclo 1 - Python/Direktio/DirektioPunto1Registros.py
Ciclo 1 - Python/Direktio/DirektioPunto2Propagacion.csv
Ciclo 1 - Python/Direktio/DirektioPunto2Propagacion.py
Ciclo 1 - Python/Direktio/DirektioPunto3Laboratorio.py
Ciclo 1 - Python/Direktio/DirektioPunto3LaboratorioInterpretacion.csv
Ciclo 1 - Python/Direktio/DirektioPunto3LaboratorioResumen.csv
Ciclo 1 - Python/Direktio/prueba.py
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/templates/frmactualizar.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/templates/taclientes.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/templates/taclientes.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/templates/cliente.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/templates/frmactualizar.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/templates/taclientes.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/templates/taclientes.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/templates/cliente.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/templates/cliente.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/templates/cliente.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/templates/cliente.html
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/Procfile
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/.idea/uiDesigner.xml
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/java/com/example/Clase20220827ProyectoCooperativa/entidades/Usuario.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/java/com/example/Clase20220827ProyectoCooperativa/repositorio/RepositorioUsuario.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/java/com/example/Clase20220827ProyectoCooperativa/SecurityConfig.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/java/com/example/Clase20220827ProyectoCooperativa/servicios/ServicioImpUsuario.java
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/src/main/resources/application.yml
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/system.properties
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/application.yml
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/com/example/Clase20220827ProyectoCooperativa/entidades/Usuario.class
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/com/example/Clase20220827ProyectoCooperativa/repositorio/RepositorioUsuario.class
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/com/example/Clase20220827ProyectoCooperativa/SecurityConfig.class
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/target/classes/com/example/Clase20220827ProyectoCooperativa/servicios/ServicioImpUsuario.class
Ciclo_3_Web/Clases/Clase20220827ProyectoCooperativa/
