<!doctype html>
<!--Se agrega la referencia de Thymeleaf, se agrega el modificador sec (security) the thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--    Este link es para hacer referencia al archivo CSS y tomar los estilos ahi definidos-->
<!--    <link href="styles.css" rel="stylesheet">-->
<!--    Este link es para referenciar bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Ssitema de gestión de tareas</title>
</head>
<body>
<main>
<!--    padding en x de 4, padding en y de 5, margen en y de 5, centrado-->
    <div class="px-4 py-5 my-5 text-center">
<!--        ocupa el espacio del bloque, margenes en x auto (centrado), margen abajo de 4-->
        <img src="img/task.png" class="d-block mx-auto mb-4" height="100px" alt="Tareas">
<!--        modifica el tamano de la letra y la hace negrilla-->
        <h1 class="display-5 fw-bold">Sistema de gestión de tareas</h1>
<!--        agrupacion en columnas y que ocupe 6 de 12 posiciones, margnes automaticos en x (alinacion en el centro)-->
        <div class="col-lg-6 mx-auto">
<!--            estilo personalidado de bootstrap, margen inferior de 4-->
            <p class="lead mb-4">Organiza tus listas de tareas para que nunca se te olvide lo que tienes que hacer.</p>
<!--            Se anade el metodo de seguridad para autenticar-->
            <div sec:authorize="!isAuthenticated()" class="mb-3">
<!--                Se modifica la referencia de la URL de tasks a la autenticacion de auth0-->
                <a th:href="@{/oauth2/authorization/auth0}" type="button" class="btn btn-primary btn-lg px-4 gap-3">Inicia sesion</a>
            </div>
            <div sec:authorize="isAuthenticated()" class="mb-3">
<!--                para concatenar strings se pueden poner entre comillas simples y un mas (+) para concatenar en si-->
                <h3 th:text="'Bienvenido, ' + ${user.getEmail()}" class="mb-3"></h3>
<!--                Ruta de redireccion, clase boton de bootstrap, boton largo, padding en x de 4, espacio entre objetos de 3-->
                <a th:href="@{/tasks}" type="button" class="btn btn-primary btn-lg px-4 gap-3">Llévame a la aplicación</a>
            </div>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Saber mas</button>
        </div>
    </div>
</main>
<!--Scrip de bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>